.header
  .header_main
    = image_tag "pict/pict-reason-01.jpg",class:"header_main_icon"
    Nexus Partner
  .header_nav
    = link_to "トップページ", "#", class: "btn"
    = link_to "ログイン", "#", class: "top_btn"
    = link_to "新規登録", "#", class: "btn"